.mobile-icon {
  display: none;
  cursor: pointer;
}

.menu-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .display-flex {
    display: flex;
  }

  .mobile-icon {
    display: block;
  }
  .menu-mobile {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
    padding-bottom: 40px;
  }

  .menu-mobile li {
    width: 100%;
    text-align: center;
  }
}
