.f1-400-s {
  font: 400 1.125rem/1.35 "Open Sans", sans-serif;
}
.f1-400 {
  font: 400 1.35rem/1.35 "Open Sans", sans-serif;
}

.f1-400-m {
  font: 400 1.8rem/1.35 "Open Sans", sans-serif;
}

.f1-500 {
  font: 500 1.35rem/1.35 "Open Sans", sans-serif;
}

.f2-400 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.35;
}

.f2-600 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.35;
}
